@media screen and (min-width: 500px) {
  // Main content
  .main-content {
    .your-choice-section {
      background-position-x: -60vw, 70vw;
      background-size: contain;
      background-position-y: 0vh;
    }
  }
  // Main footer
  .main-footer-wrapper {
    .main-footer {
      .footer-top-section {
        .footer-social-icons {
          width: 120px;
        }
      }
      .footer-navs-wrapper {
        justify-content: space-between;
        .footer-nav {
          width: 35%;
        }
      }
    }
  }
}