@media screen and (min-width: 1300px) {
  // Main header
  .main-header {
    max-width: 1100px;
    .main-header-content {
      max-width: 500px;
      &#{__title} {
        font-size: 4rem;
        line-height: 45px;
        margin-bottom: 30px;
      }
      &#{__description} {
        max-width: 400px;
        margin-bottom: 40px;
      }
      .cta-section {
        max-width: 260px;
      }
    }
    &#{__illustration} {
      transform: translate(15%, 20%);
    }
  }

  // Sponsors section
  .sponsor-wrapper {
    .sponsor {
      max-width: 1200px;
      &#{__logo} {
        width: 140px;
      }
    }
  }
}
