@media screen and (min-width: 360px) {
  .main-header {
    &#{__illustration} {
      transform: translate(68%, 65%);
    }
  }
}
@media screen and (min-width: 425px) {
  .main-header {
    &#{__illustration} {
      transform: translate(60%, 65%);
    }
  }
}
@media screen and (min-width: 500px) {
  // Main header
  .main-header {
    &#{__illustration} {
      transform: translate(55%, 65%);
    }
  }
  // Sponsor section
  .sponsor {
    background-position-x: -10vw, 60vw;
  }

  // Main content
  .main-content {
    .your-choice-section {
      background-position-x: -60vw, 70vw;
      background-size: contain;
      background-position-y: 0vh;
    }
  }
  // Main footer
  .main-footer-wrapper {
    .main-footer {
      .footer-top-section {
        .footer-social-icons {
          width: 120px;
        }
      }
      .footer-navs-wrapper {
        justify-content: space-between;
        .footer-nav {
          width: 35%;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .main-wrapper {
    padding: 5% 0;
  }

  // Main header
  .main-header {
    width: 80%;
    max-width: 700px;
    justify-content: flex-start;
    .top-section {
      margin-bottom: 200px;
      width: 100%;

      // Top section nav
      &#{-nav-wrapper} {
        display: block;
        width: 55%;
        max-width: 340px;
        justify-self: flex-start;
        margin: 0 auto 0 20px;
        .top-section-nav {
          list-style-type: none;
          display: flex;
          justify-content: space-between;

          &#{__link} {
            text-decoration: none;
            color: $text-color-2;
            text-transform: uppercase;
            transition: color .5s;
            font: {
              family: $third-font-family;
              size: 1.4rem;
              weight: 400;
            }
            &:hover{
              color: #fff;
            }
            &:active{
              color: $btn-bg-color;
            }
          }
        }
      }
    }

    .main-header-content {
      max-width: 375px;
      justify-content: flex-start;

      &#{__title} {
        text-align: left;
        font-size: 3rem;
        line-height: 35px;
      }
      &#{__description} {
        text-align: left;
      }
      .cta-section {
        width: 70%;
        margin-top: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        &#{__btn} {
          width: 120px;
        }
      }
    }
    &#{__illustration} {
      transform: translate(65%, 35%);
    }
  }

  // Sponsors section
  .sponsor-wrapper {
    background-position-x: -5vw, 80vw;
    background-position-y: center;
    .sponsor {
      padding: 10% 18%;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }
  }
  // Main content
  .main-content {
    .your-choice-section {
      background-position-x: -20vw, 85vw;
      background-position-y: center;
      .your-choice-articles-wrapper {
        max-width: 670px;
        justify-content: space-between;
        .your-choice-article {
          width: 45%;
        }
      }
    }

    .increase-your-traffic-section-wrapper {
      .increase-your-traffic-section {
        width: 45%;
        max-width: 370px;
        margin-left: auto;
        margin-right: 25px;
        justify-content: flex-start;

        &#{__title} {
          text-align: left;
          width: 90%;
        }
        &#{__description} {
          text-align: left;
          margin-bottom: 30px;
          font-size: 1.4rem;
        }

        &#{__graphic} {
          width: 40%;
          max-width: 420px;
          margin-right: auto;
        }
      }
    }

    .ways-to-save-money-wrapper {
      .ways-to-save-money-section {
        max-width: 700px;
        .ways-to-save-money-articles-wrapper {
          display: flex;
          justify-content: space-between;

          .ways-to-save-money-article {
            width: 30%;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;

            &#{__description} {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    .invest-property-section-wrapper {
      background-position: 50vw center;
      .invest-property-section {
        width: 45%;
        max-width: 385px;
        margin: 0 25px 0 auto;
        justify-content: flex-start;

        &#{__title} {
          text-align: left;
          width: 90%;
        }
        &#{__description} {
          text-align: left;
          margin-bottom: 30px;
          font-size: 1.4rem;
        }
        &#{__img} {
          width: 40%;
          max-width: 400px;
          margin-right: auto;
        }
      }
    }

    .finding-information-section-wrapper {
      background-position: 70vw center;
      .finding-information-section {
        max-width: 700px;
        justify-content: space-between;
        .finding-information-articles-wrapper {
          width: 45%;
          order: 1;

          .finding-information-article {
            &#{__description} {
              font-size: 1.4rem;
            }
          }
        }

        &#{__img} {
          order: 0;
          width: 50%;
        }
      }
    }
  }

  // CTA section
  .cta-section-wrapper {
    background-repeat: repeat-x;
    background-size: contain;
    .cta-section {
      max-width: 900px;

      .input-wrapper {
        max-width: 420px;
      }
    }
  }

  // Main footer
  .main-footer-wrapper {
    .main-footer {
      max-width: 750px;
    }
  }
}
@media screen and (min-width: 850px) {
  // Main header
  .main-header {
    .top-section-nav-wrapper {
      margin: 0 auto 0 50px;
    }
    &#{__illustration} {
      transform: translate(55%, 30%);
    }
  }
}
@media screen and (min-width: 1100px) {
  // Main header
  .main-header {
    margin-bottom: 200px;
    max-width: 900px;
    &#{__illustration} {
      transform: translate(28%, 30%);
    }
  }

  // Sponsors section
  .sponsor-wrapper {
    .sponsor {
      padding: 0;
      max-width: 1000px;
    }
  }

  // Main content
  .main-content {
    .your-choice-section {
      margin: 100px auto;

      .your-choice-articles-wrapper {
        max-width: 1000px;
        .your-choice-article {
          width: 30%;
        }
      }
    }

    .increase-your-traffic-section-wrapper {
      margin: 100px auto;

      background-position: left center;
      .increase-your-traffic-section {
        max-width: 450px;
        &#{__title} {
          font-size: 4rem;
        }
        &#{__description} {
          width: 85%;
        }
      }
    }

    .ways-to-save-money-wrapper {
      margin: 100px auto;
      .ways-to-save-money-section {
        max-width: 995px;

        &#{__title} {
          max-width: 70%;
        }
        &#{__description} {
          width: 45%;
        }
        .ways-to-save-money-articles-wrapper {
          width: 90%;
          .ways-to-save-money-article {
            max-width: 250px;
          }
        }
      }
    }

    .create-your-next-project-section-wrapper {
      .create-your-next-project-section {
        &#{__title} {
          font-size: 3.6rem;
        }
        &#{__illustration} {
          width: 100vw;
        }
      }
    }

    .invest-property-section-wrapper {
      background-position: right center;
      .invest-property-section {
        max-width: 450px;

        &#{__title} {
          font-size: 4rem;
        }
        &#{__description} {
          margin-bottom: 0px;
        }
        &#{__img} {
          max-width: 450px;
        }
      }
    }

    .finding-information-section-wrapper {
      margin: 200px auto;
      background-position: 75vw center;
      .finding-information-section {
        max-width: 995px;

        &#{__title} {
          font-size: 4rem;
        }
        &#{__description} {
          max-width: 500px;
          margin: 0 auto 0 auto;
          font-size: 1.6rem;
        }
      }
    }
  }

  // CTA section
  .cta-section-wrapper {
    .cta-section {
      &#{__description} {
        max-width: 400px;
      }
    }
  }

  // Main footer
  .main-footer-wrapper {
    .main-footer {
      max-width: 1000px;

      .footer-top-section {
        margin-bottom: 75px;

        &#{__logo} {
          font-size: 4rem;
        }

        .footer-social-icons {
          width: 150px;
          &#{__icon} {
            padding: 10px;
            width: 35px;
            height: 35px;
          }
        }
      }
      .footer-navs-wrapper {
        flex-wrap: nowrap;
        margin-bottom: 50px;
      }
    }

    .footer-copy-section__item {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1300px) {
  // Main header
  .main-header {
    max-width: 1100px;
    .main-header-content {
      max-width: 500px;
      &#{__title} {
        font-size: 4rem;
        line-height: 45px;
        margin-bottom: 30px;
      }
      &#{__description} {
        max-width: 400px;
        margin-bottom: 40px;
      }
      .cta-section {
        max-width: 260px;
      }
    }
    &#{__illustration} {
      transform: translate(15%, 20%);
    }
  }

  // Sponsors section
  .sponsor-wrapper {
    .sponsor {
      max-width: 1200px;
      &#{__logo} {
        width: 140px;
      }
    }
  }
}
