*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
body{
    background: $body-bg-gradient;
    background-repeat: no-repeat;
}
.main-wrapper{
    @include border(greenyellow);
    @include flexbox(row,wrap);
    padding: 10% 0;
}
img{
    max-width: 100%;
}