// ************ Variables *************

// Body background gradient colors
$body-bg-gradient: linear-gradient(222deg, #3b1d60 1.22%, #040d3e 20%);

// Fonts
$primary-font-family: "Inter", sans-serif;
$second-font-family: "Open Sans", sans-serif;
$third-font-family: "Rubik", sans-serif;

// Text colors
$title-color: #99efd0;
$title-span-color: #f2994a;
$text-color: #8476aa;
$text-color-2: rgb(194, 194, 194);

// CTA section bg color
$cta-bg-color: rgb(30, 32, 71);

// Button color
$btn-bg-color: #f2994a;

// ************ Mixins **************

// Flexbox mixins
@mixin flexbox(
  $direction: row,
  $wrap: nowrap,
  $justify: center,
  $align: center
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

// Button mixins
@mixin general-button($width:100px, $pdy:10px, $pdx:0px) {
  width: $width;
  padding: $pdy $pdx;
  color: #fff;
  background-color: $btn-bg-color;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 3px;
  text-transform: uppercase;
}
@mixin ghost-button {
  color: $btn-bg-color;
  border: 1px solid $btn-bg-color;
  background-color: transparent;
}
