// ***********************************
//         MAIN FOOTER
// ***********************************

.main-footer {
  width: 80%;
  @include flexbox($wrap: wrap);
  margin-bottom: 50px;
  
  &-wrapper {
    width: 100%;
    @include flexbox($wrap: wrap);
    background-image: url(../assets/footer-background.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
