/* Main header styles*/

.main-header {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  @include flexbox($wrap: wrap);

  // Top section
  .top-section {
    @include flexbox($justify: space-between);
    margin-bottom: 50px;
    width: 80%;

    &__logo {
      width: 5rem;
    }

    &-nav-wrapper {
      background: linear-gradient(90deg, #040d3e, #3b1d60 , #040d3e);
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      transition: all 0.5s;
      transform: translateX(-110%);
    }
    .active {
      transform: none;
    }
    &-nav {
      margin: auto;
      list-style-type: none;

      &__link {
        font: {
          size: 2rem;
          family: $third-font-family;
        }
        display: block;
        color: #fff;
        text-align: center;
        text-decoration: none;
        margin-bottom: 2rem;
        &:active {
          color: $btn-bg-color;
        }
      }
    }

    .cta-section {
      display: none;
      &__btn {
        @include general-button;
        transition: background-color 0.5s;

        &:nth-child(1) {
          @include ghost-button;
          margin-right: 10px;
          transition: border-color 0.5s;

          &:hover {
            border-color: darken($btn-bg-color, 20%);
            cursor: pointer;

            &:active {
              border-color: lighten($btn-bg-color, 10%);
            }
          }
        }
        &:nth-child(2):hover {
          background-color: darken($btn-bg-color, 20%);
          cursor: pointer;

          &:active {
            background-color: lighten($btn-bg-color, 10%);
          }
        }
      }
    }
  }

  // Main header content
  .main-header-content {
    width: 80%;
    max-width: 340px;
    @include flexbox($wrap: wrap);

    &#{__title} {
      color: $title-color;
      text-align: center;
      line-height: 30px;
      margin-bottom: 20px;
      font: {
        size: 2.5rem;
        family: $primary-font-family;
        weight: 700;
      }
    }
    &#{__description} {
      color: $text-color;
      line-height: 22px;
      text-align: center;
      margin-bottom: 25px;
      font: {
        size: 1.4rem;
        family: $second-font-family;
      }
    }
    .cta-section {
      @include flexbox(
        $direction: column,
        $justify: space-evenly,
        $align: left
      );
      margin-top: 60px;
      height: 130px;
      width: 100%;

      @media screen and (min-width: 425px) {
        display: block;
        margin-right: 7rem;
      }

      &__btn {
        @include general-button;
        transition: background-color 0.5s;

        &:nth-child(1):hover {
          background-color: darken($btn-bg-color, 20%);
          cursor: pointer;

          &:active {
            background-color: lighten($btn-bg-color, 10%);
          }
        }
        &:nth-child(2) {
          @include ghost-button;
          transition: border-color 0.5s;

          &:hover {
            border-color: darken($btn-bg-color, 20%);
            cursor: pointer;

            &:active {
              border-color: lighten($btn-bg-color, 10%);
            }
          }
        }
      }
    }
  }

  &__illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(75%, 65%);
    
    @media screen and (min-width: 360px) {
      transform: translate(68%, 65%);
    }
    @media screen and (min-width: 425px) {
      transform: translate(60%, 65%);
    }
    @media screen and (min-width: 500px) {
      transform: translate(55%, 65%);
    }
  }
}
