// **************************************************
//    MAIN CONTENT - INCREASE YOUR TRAFFIC SECTION
// **************************************************

.increase-your-traffic-section {
  @include flexbox($wrap: wrap);
  margin-bottom: 75px;
  width: 80%;

  @media screen and (min-width: 768px) {
    width: 45%;
    max-width: 370px;
    margin-left: auto;
    margin-right: 25px;
    justify-content: flex-start;

    &__title {
      text-align: left;
      width: 90%;
    }
    &__description {
      text-align: left;
      margin-bottom: 30px;
      font-size: 1.4rem;
    }

    &__graphic {
      width: 40%;
      max-width: 420px;
      margin-right: auto;
    }
  }

  &-wrapper {
    width: 100%;
    @include flexbox($wrap: wrap);
    margin: 10px auto 40px auto;
    background-image: url(../assets/patterns/pattern-6.svg);
    background-repeat: no-repeat;
    background-position: -30vw center;
  }

  &__title {
    @extend .your-choice-section__title;
    width: 100%;

    span {
      color: $title-span-color;
    }
  }
  &__description {
    @extend .your-choice-section__description;
    width: 100%;
  }
  &__btn {
    @include general-button;
    box-shadow: -5px 5px 15px #f2984a42;
    transition: background-color 0.5s;

    &:hover {
      background-color: darken($btn-bg-color, 20%);
      cursor: pointer;
    }
    &:active {
      background-color: lighten($btn-bg-color, 10%);
    }
  }
  &__graphic {
    width: 80%;
  }
}
