/* Sponsors section styles */
.sponsor-wrapper {
  width: 100%;
  margin: 80px auto 40px auto;
  @include flexbox($direction: column);
  background-image: url(../assets/patterns/pattern-1.svg),
    url(../assets/patterns/pattern-1.svg);
  background-repeat: no-repeat;
  background-position-x: -45vw, 70vw;
  background-size: contain;

  .sponsor {
    width: 80%;
    max-width: 670px;
    margin: 80px auto 40px auto;
    @include flexbox($direction: column);

    &#{__logo} {
      margin: 25px auto;
      width: 130px;
    }
  }
}
