// ******************************************
//        MAIN FOOTER - TOP SECTION
// ******************************************

.footer-top-section {
  width: 100%;
  margin-bottom: 40px;
  @include flexbox($justify: space-between);

  &__logo {
    color: $title-span-color;
    letter-spacing: 1px;
    font: {
      size: 2rem;
      family: $third-font-family;
    }
  }
}
